*{
    font-family:cursive;
    background-color: #FFDDD2;

}
body {
    
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 2em;

}

button{
    color: white;
    background-color: black;
    border-radius: 25px;
    border: 2px solid white;

}